/* bouton.css */

/* Style général des formulaires */
form {
  max-width: 400px;
  margin: 20px auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 6px;
  font-weight: 600;
  color: #222;
}

input[type="file"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

input[type="file"]:focus {
  outline: none;
  border-color: #212529;
  box-shadow: 0 0 5px rgba(0,123,255,0.5);
}

.btn-import {
  background-color: #212529;
  color: white;
  padding: 10px 0;
  width: 100%;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.btn-import:hover {
  background-color: #000000;
}

.btn-search{
  background-color: #212529;
  padding: 5px;
  border-radius: 6px;
  color: white;
}
.btn-search:hover{
  background-color: #000000;
}
#success-message {
    transition: opacity 0.5s ease;
}

.logout-btn {
  text-decoration: none;
  color: #ffffff; /* texte blanc par défaut */
  display: flex;
  align-items: center;
  gap: 6px;
  transition: color 0.3s ease;
}

.logout-btn:hover,
.logout-btn:focus {
  color: #00ffbf;
  text-decoration: none;
  cursor: pointer;
}

.logout-icon {
  font-size: 1rem;
  transition: color 0.3s ease;
}

.logout-btn:hover .logout-icon,
.logout-btn:focus .logout-icon {
  color: #00ffbf;
}
