.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    justify-content: center;
    gap: 0.3rem;
    margin-top: 1rem;
}

.page-item {
    display: inline;
}

.page-item.disabled .page-link {
    pointer-events: none;
    color: #6c757d;
    background-color: #fff;
    border-color: #dee2e6;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #25282e;
    border-color: #25282e;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.4rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #25282e;
    background-color: #fff;
    border: 1px solid #dee2e6;
    text-decoration: none;
    border-radius: 0.25rem;
}

.page-link:hover {
    color: #000009;
    background-color: #e9ecef;
    border-color: #dee2e6;
}
