<div th:fragment="content">
    <!-- Carte de bienvenue -->
    <div class="card hr-card">
        <div class="card-body hr-card-body">
            <h2 class="card-title hr-card-title">Bienvenue dans le module Ressources Humaines d'ERPNext !</h2>
            <p class="card-text hr-card-text">
                Ce module vous permet de gérer efficacement tout ce qui concerne le capital humain de votre organisation
                : gestion des employés, des salaires, des congés, des présences et bien plus encore.
                Grâce à ERPNext, simplifiez vos processus RH, automatisez les tâches administratives et gagnez en
                productivité.
            </p>
            <p class="card-text hr-card-text">
                Explorez les différentes fonctionnalités via le menu latéral pour consulter la liste des employés, gérer
                les bulletins de salaire, importer des données, et filtrer les informations selon vos besoins.
            </p>
        </div>
    </div>

    <a th:href="@{/employees}" style="text-decoration: none; color: inherit;">
        <div class="card mt-2 p-2 hr-card" style="max-width: 300px; font-size: 0.9rem; cursor: pointer;">
            <div class="card-body d-flex justify-content-between align-items-center hr-card-body p-2">
                <div>
                    <h6 class="card-title mb-1 hr-card-title" style="font-size: 1rem;">Nombre d'employés</h6>
                    <p class="card-text hr-card-text mb-0" style="font-size: 0.85rem;">Actuellement enregistrés</p>
                </div>
                <div class="my-text-primary" style="font-size: 1.5rem;" th:text="${employeeCount}">0</div>
            </div>
        </div>
    </a>

</div>