<div th:fragment="content">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Caracteristique des employees</h2>

            <form th:action="@{/salary-employe-caracteristique}" method="get" class="mb-3"
                style="display: flex; gap: 10px; align-items: center;">
                <input type="month" name="monthYear" th:value="${selectedMonth}" class="form-control"
                    style="width: 200px;" />
                <button type="submit" class="btn-search">Filtrer</button>
            </form>

            <div th:if="${errorMessage}" class="alert alert-danger" style="margin-bottom: 20px;">
                <p th:text="${errorMessage}"></p>
            </div>


            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Employé</th>
                        <th>Nom</th>
                        <th>Brut</th>
                        <th>Net</th>
                        <th>Deduction</th>
                        <th>Earning</th>
                        <th>Voir details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="slip : ${salarySlips}">
                        <td th:text="${slip.employee}">EMP001</td>
                        <td th:text="${slip.employee_name}">John Doe</td>
                        <td th:text="${slip.gross_pay}">2000.00</td>
                        <td th:text="${slip.net_pay}">1800.00</td>
                        <td th:text="${slip.total_deduction}">0.0</td>
                        <td th:text="${slip.gross_pay}">0.00</td>
                    </tr>
                </tbody>
            </table>

            <nav th:if="${totalPages > 1}">
                <ul class="pagination">
                    <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                        <a class="page-link"
                            th:href="@{/salary-employe(page=${currentPage - 1}, monthYear=${selectedMonth})}">Précédent</a>
                    </li>
                    <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}"
                        th:classappend="${i == currentPage} ? 'active'">
                        <a class="page-link" th:href="@{/salary-employe(page=${i}, monthYear=${selectedMonth})}"
                            th:text="${i}">1</a>
                    </li>
                    <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                        <a class="page-link"
                            th:href="@{/salary-employe(page=${currentPage + 1}, monthYear=${selectedMonth})}">Suivant</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>