<div th:fragment="content">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Résumé Mensuel des Salaires</h2>

      <form th:action="@{/salary/year}" method="get" class="mb-3" style="display: flex; gap: 10px; align-items: center;">
        <select name="year" class="form-control" style="width: 200px;">
          <option value="" disabled selected>-- Sélectionnez une année --</option>
          <option th:each="year : ${#numbers.sequence(2024, 2026)}"
                  th:value="${year}"
                  th:text="${year}"
                  th:selected="${year == selectedYear}">
          </option>
        </select>
        <button type="submit" class="btn-search">Filtrer</button>
      </form>

        <div th:if="${selectedYear != null}" class="charts-row">
            <div class="chart-container">
                <h3>Graphique des revenus (Earnings)</h3>
                <canvas id="earningsChart" width="400" height="200"></canvas>
            </div>

            <div class="chart-container">
                <h3>Graphique des déductions (Deductions)</h3>
                <canvas id="deductionsChart" width="400" height="200"></canvas>
            </div>
        </div>

        <script th:inline="javascript">
            let earningsData = /*[[${earningsChartData}]]*/ [];
            let deductionsData = /*[[${deductionsChartData}]]*/ [];
        </script>

    </div>
  </div>
</div>
